@import "../styles/global";

$lightBlue: #b5f0ff;
$darkBlue: #1d3d7e;

.header {
  overflow-x: hidden;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: $darkBlue;
  // background: linear-gradient(175deg, $lightBlue, $darkBlue);
  background-size: 150% 150%;
  animation: gradientAnimation 10s ease infinite;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 30%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 30%;
    }
  }

  .headerContent {
    max-width: 1280px;
    margin: auto;

    .workshopTitle {
      font-size: 25px;
      line-height: 1.15em;
      font-family: "Noto Sans", sans-serif;
    }

    .conference {
      font-family: "Noto Sans", sans-serif;
      font-size: 13px;
      letter-spacing: 2px;
    }

    .middle,
    .left,
    .right {
      vertical-align: middle;
    }

    .middle {
      text-align: center;
      width: 50%;
      display: inline-block;

      @include breakpoint(tablet) {
        width: 100% !important;
      }

      @include breakpoint(mobile) {
        margin-bottom: 20px;
      }
    }

    .right,
    .left {
      width: 25%;
      display: inline-block;
      font-size: 15px;
    }

    .right {
      text-align: right;

      .comingSoonText {
        vertical-align: middle;
      }
    }

    // Hides the elements, but keeps their width/height
    // so that .middle doesn't end up left skewed.
    @include breakpoint(tablet) {
      .left,
      .right {
        opacity: 0;
        z-index: -99 !important;
        pointer-events: none;
        width: 0 !important;
      }
    }
  }
}

// This is a bit dangerous when more than 1 emoji gets used.
:global(span.emoji-mart-emoji) {
  display: inline-block;
  margin-bottom: -3px;
  vertical-align: middle;
}
