@import "../styles/global";

.hash {
  transition-duration: 0.15s;
  font-weight: normal;
  margin-right: -28px;
  pointer-events: none;

  &:hover {
    opacity: 0.5;
  }
}

.textWrapper {
  // hides the hash
  margin-left: -26px;
}

@include breakpoint(mobile) {
  .hash {
    opacity: 0 !important;
  }
}

.title {
  margin-left: 10px;
  color: #303945;
  padding-left: 26px;
  // margin-left: -21px;

  &:hover {
    cursor: pointer;
  }
}

.title,
.hash {
  display: inline-block;
}

:global(.ant-divider-horizontal.ant-divider-with-text)::before,
:global(.ant-divider-horizontal.ant-divider-with-text)::after {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
